*{
	
	
	
	margin:0px;
	padding:0px;
	font-family:tahoma;
}

.data {
	
	width:400px;
	margin:100px auto;
	
}

.data-show {
	width:1000px;
	margin:50px auto;
	
}

.data-show  table {
	width:100%;



}



.data-show  table tr:nth-child(odd){
	background-color:#ccc;
}

.data-show  table:nth-child(1) tr:first-child {
	background-color:#000;
	color:#FFF;
	text-align:center; 
	font-weight:bold;
}

.data-show  table tr td{
	padding:3px;
}











